#firstGrid
{
    -fx-background-image: url("images/change_recipe.jpg");
}

#subtitle-text
{
    -fx-text-fill: white;
}


.button
{
    -fx-pref-width: 115px;
    -fx-pref-height: 20px;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
#register_button
{
    -fx-background-color: green;
}
#back_button
{
    -fx-background-color: gray;
}

#save_button
{
    -fx-background-color: green;
}

#delete_button
{
    -fx-background-color: red;
}

#recipeMessage
{
    -fx-font-weight: bold;
}
