#mainGrid
{
    -fx-background-image: url("images/logo.png");
}

#title
{
    -fx-text-fill: white;
    -fx-pref-width: 450px;
    -fx-pref-height: 100px;
    -fx-font-weight: BOLD;
    -fx-alignment: CENTER;
    -fx-font-size: 50;
}

.button
{
    -fx-pref-width: 220px;
    -fx-pref-height: 15px;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#enter_button
{
    -fx-pref-width: 95px;
    -fx-pref-height: 5px;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: gray;
}

#saved_recipes_button
{
    -fx-background-color: gray;
}

#recipes_button
{
    -fx-background-color: gray;
}

#rate_recipe_button
{
    -fx-background-color: gray;
}

#save_recipe_button
{
    -fx-background-color: gray;
}

#logout_button
{
    -fx-background-color: red;
    -fx-alignment: CENTER;
}

#delete_button
{
    -fx-background-color: red;
    -fx-alignment: CENTER;
}