#imageGrid
{
    -fx-background-color:rgb(245,0,131);
}

.button
{
    -fx-pref-width: 115px;
    -fx-pref-height: 20px;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.text-field
{
    -fx-border-color: gray;
}

#recipes_button
{
    -fx-background-color: red;
}

#login_button
{
    -fx-background-color: green;
}

#register_button
{
    -fx-background-color: blue;
}