#imageGrid
{
    -fx-background-image: url("images/logo.png");
}

.button
{
    -fx-pref-width: 117px;
    -fx-pref-height: 20px;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.text-field
{
    -fx-border-color: gray;
}

#enter_button
{
    -fx-pref-width: 60px;
    -fx-pref-height: 5px;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: gray;
}

#recipes_button
{
    -fx-background-color: gray;
}

#login_button
{
    -fx-background-color: green;
}

#register_button
{
    -fx-background-color: blue;
}
