#mainGrid
{
    -fx-background-image: url("images/save_recipe.jpg");
}

.button
{
    -fx-pref-width: 117px;
    -fx-pref-height: 20px;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#back_button
{
    -fx-background-color: gray;
    -fx-alignment: CENTER;
}

#enter_button
{
    -fx-pref-width: 60px;
    -fx-pref-height: 5px;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: gray;
}
