#primaryButton{
    -fx-text-fill: rgb(555, 1, 1);
    -fx-border-color: rgb(1, 555, 1);
    -fx-border-radius: 20;
    -fx-padding: 3 6 6 6;
}

#secondaryButton{
    -fx-text-fill: rgb(1, 1, 555);
    -fx-border-color: rgb(555, 1, 1);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}