# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Edward\Documents\UNI\FIS\PROIECT\Cooking-Recipes-Application\Cooking-Recipes-Application\Cooking-Recipes-Application\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
